asgiref==3.5.0
boto3==1.11.8
botocore==1.14.8
Django==3.2.13
django-filter==2.2.0
django-storages==1.8
docutils==0.15.2
gunicorn==20.1.0
jmespath==0.9.4
Pillow==7.0.0
python-dateutil==2.8.1
pytz==2022.1
s3transfer==0.3.2
six==1.14.0
sqlparse==0.4.2
urllib3==1.25.8
typing_extensions==4.2.0
whitenoise==6.0.0
